body {
	background-color: #F1F2F6;
}

.navbar ul {
	list-style-type: none;
	margin 0;
	padding 0;
	background-color: #E2E2E2;
	font-family: "Arial";
	overflow: hidden;
}

.navbar li {
	float: left;
	text-align: center;
}

.navbar li a {
	display: block;
	color: #000000;
	padding: 8px 16px;
	text-decoration: none;
}

.navbar li a:hover:not(.active) {
	background-color: #D3D3D3;
}

.active {
	background-color: #B5B5B5;
}

h1 {
	font-family: "Arial";
	text-align: center;
	text-decoration: underline;
	color: #404040;
}

h2 {
	font-family: "Arial";
	text-align: left;
	text-decoration: none;
	color: #606060;
	padding: 20px 20px 0 10%;
}

.text {
	background-color: #FFFFFF;
	font-family: "Times";
	color: #202020;
	margin: auto;
	width: 80%;
	padding: 20px 20px;
}
